<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<!--<!DOCTYPE>-->
<html lang="ko"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout.html}"
      xmlns:th="http://www.thymeleaf.org"
>

<!--xmlns:sec="http://www.thymeleaf.org/extras/spring-security"-->
<head>
    <meta charset="UTF-8">
    <title>Main</title>
    <style>

    </style>

</head>

<th:block layout:fragment="css">
    <!--    <link rel="stylesheet" th:href="@{/css/main/main.css}">-->
<!--        <link rel="stylesheet" href="/ce_4.6.0.18_test/css/codemirror.css">-->
<!--        <link rel="stylesheet" href="/ce_4.6.0.18_test/css/foldgutter.css">-->
<!--        <link rel="stylesheet" href="/ce_4.6.0.18_test/css/jquery.selectbox.css">-->
<!--        <link rel="stylesheet" href="/ce_4.6.0.18_test/css/material-palenight.css">-->
<!--        <link rel="stylesheet" href="/ce_4.6.0.18_test/css/namose_general.css">-->
<!--        <link rel="stylesheet" href="/ce_4.6.0.18_test/css/namose_plugindrag.css">-->
<!--        <link rel="stylesheet" href="/ce_4.6.0.18_test/css/show-hint.css">-->
<!--        <link rel="stylesheet" href="/ce_4.6.0.18_test/css/spectrum.css">-->
<!--        <link rel="stylesheet" href="/ce_4.6.0.18_test/css/ui.jqgrid.css">-->
<!--        <link rel="stylesheet" href="/ce_4.6.0.18_test/css/view.css">-->
</th:block>

<th:block layout:fragment="js">
<!--    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>-->
        <script th:src="@{/ce_4.6.0.18_test/js/namo_scripteditor.js}"></script>
        <script th:src="@{/js/main/main.js}"></script>
</th:block>

<body layout:fragment="body">
<div id="app">
    <h1>메인 페이지</h1>
<!--    <th:block th:replace="~{/main/test :: test('A', 'B')}"></th:block>-->
<!--    <th:block th:replace="~{/main/test :: test('A', null)}"></th:block>-->

    <script>
        var CrossEditor = new NamoSE('namo');
        console.dir(CrossEditor)
        CrossEditor.params.Width = "100%";
        CrossEditor.params.Height = 700;
        // CrossEditor.params.UploadFileExecutePath = "http://localhost:8080/imageUpload";
        // CrossEditor.params.UploadEtcFileExecutePath = "http://localhost:8080/fileUpload";
        CrossEditor.params.UploadFileExecutePath = "/namo/imageUpload";
        CrossEditor.params.UploadEtcFileExecutePath = "/namo/imageUpload";
        CrossEditor.EditorStart();

    </script>
</div>

</body>
</html>
