<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<!--<!DOCTYPE>-->
<html lang="ko"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout.html}"
      xmlns:th="http://www.thymeleaf.org"
>

<!--xmlns:sec="http://www.thymeleaf.org/extras/spring-security"-->
<head>
    <meta charset="UTF-8">
    <title>Main</title>
    <style>
        body {
            min-height: 3000px;
        }

        button {
            padding : 20px;
        }

        .btn_container {
            display: flex;
            justify-content: center;
            margin-top: 10rem;
        }

        .seal {
            position: relative;
        }



    </style>

</head>

<th:block layout:fragment="css">
</th:block>

<th:block layout:fragment="js">
<!--    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>-->
        <script th:src="@{/js/main/main.js}"></script>
</th:block>


<body layout:fragment="body">
<div id="app">
    <h1>메인 페이지</h1>
<!--    <th:block th:replace="~{/main/test :: test('A', 'B')}"></th:block>-->
<!--    <th:block th:replace="~{/main/test :: test('A', null)}"></th:block>-->

    <iframe id="myIframe" src="/namo/iframe?width=100&height=600"
            width="100%"
            height="600px"
            scrolling="no"
            frameborder="0"
            marginwidth="0"
            marginheight="0">
    </iframe>


    <div class="btn_container">
        <button onclick="fnBoardSave()">파라미터만들기</button>
    </div>
</div>
</body>
</html>
