<!DOCTYPE html>
<html lang="ko"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout.html}"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <title layout:fragment="">게시글 등록화면</title>
    <style>
        li {
            text-decoration: none;
            color: black;
            font-size: 20px;
        }
    </style>
</head>

<th:block layout:fragment="css">
    <!--    <link rel="stylesheet" th:href="@{/css/main/common.css}">-->
    <!--    <link rel="stylesheet" th:href="@{/css/main/login.css}">-->
</th:block>

<th:block layout:fragment="js">
    <script th:src="@{/js/board/boardForm.js}"></script>
</th:block>

<body layout:fragment="body" id="app">
<div>
    <ul>
        <li>에디터는 fnSummerNoteInit() 함수로 초기화 하고 있습니다</li>
        <li>쓰는 방법 : $('#summernote').summernote('code', '가나다라마바사');</li>
        <li>읽는 방법 : $('#summernote').summernote('code');</li>
        <li>에디터 삭제 방법 : $('#summernote').summernote('destroy');</li>
    </ul>
</div>
<div class="col-sm-10">
    <div><label>제목 : <input type="text" id="title" @input="(e) => title = e.target.value"></label></div>
    <Editor :note-id="`summernote`"></Editor>
</div>
<button class="btn btn-primary" @click="boardSave">게시글 저장</button>
<script>

    const {createApp, ref, onMounted, reactive, computed, watchPostEffect} = Vue;

    const app = createApp({

        setup() {


            const title = ref(null);
            const content = ref();
            const noteId = ref('summernote')

            watchPostEffect(() => {
                // console.log(`watchPostEffect 감시한 값 => ${message.value}`)
            })

            // 게시글 저장
            const boardSave = async () => {
                title.value = fnGetValueById('title')
                content.value = $('#summernote').summernote('code');

                console.log({
                    title: title.value,
                    content: content.value
                })

                const param = {
                    title: title.value,
                    content: content.value,
                };

                const {status, data, metaData} = await fnAsyncJsonPost('/api/board/save', param)
                console.log({status, data, metaData});


                if (!status) {
                    alert('게시글 등록 에러')
                    return;
                }

                alert('게시글 등록 완료');
                fnPageMove('/board/list');

            }

            //? 라이프 사이클 중 1개 - 데이터 초기화
            onMounted(async () => {
                console.log('마운트');

                content.value = document.querySelector('.note-editable').innerHTML
                // fnSummerNoteInit();
                // console.log('summernote.value')
                // console.log(summernote.value)
            })

            return {
                title, content, boardSave
            };
        },


    });

    console.log('app의 컴포넌트')

    app
        .component('Editor', Editor)
        .mount('#app');


</script>
</body>
</html>
