<!DOCTYPE html>
<html lang="ko"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout.html}"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <title layout:fragment="">USER</title>
    <style>
        li {
            text-decoration: none;
            color: black;
            font-size: 20px;
        }
    </style>
</head>

<th:block layout:fragment="css">
    <!--    <link rel="stylesheet" th:href="@{/css/main/common.css}">-->
    <!--    <link rel="stylesheet" th:href="@{/css/main/login.css}">-->
</th:block>

<th:block layout:fragment="js">
    <script th:src="@{/js/user/userMain.js}"></script>
</th:block>

<body layout:fragment="body">
<h1>boardMain Html</h1>

</body>
</html>
